apiVersion: monitoring.coreos.com/v1
kind: Prometheus
metadata:
  name: k3s-prometheus
  namespace: monitoring
spec:
  replicas: 1

  serviceMonitorSelector:
    matchLabels:
      release: prometheus

  serviceMonitorNamespaceSelector:
    matchNames:
      - monitoring

  resources:
    requests:
      cpu: 200m
      memory: 512Mi

  enableAdminAPI: false
